{% load static %}
<!DOCTYPE html>
<html lang="uz">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investorlik shartnomasi</title>
    <link rel="stylesheet" type="text/css" href="../static/Arial.ttf">

    <style>
        @font-face {
            font-family: 'Arial';
            src: url('../static/Arial.ttf') format('truetype');
        }

        body {
            font-family: 'Arial', sans-serif;
        }
    </style>
</head>

<body>
    <div class="contract">
        <h1>investorlik shartnomasi № 1</h1>
        <p class="Mulk">(mulk egasining kup kavatli turar joyni kurib uni sotish xakida)</p>
        <p><strong>"31" may 2024 yil</strong></p>
        <p><strong>Urganch shahri</strong></p>
        <p>"XORAZM ELITE HOUSE" ma'suliyati cheklagan jamiyati rahbari Gaipov Zokirjon Baxodirovich o'z Ustavi asosida
            shartnoma buyicha sotuvchi deb ataladi va fuqaro Sherova Feruza Xudoybergan kizi (pasport: AV 1611162 Xorazm
            viloyat Xonka tuman Vatanparvar MFY Andalib kuchasi 123 uy da yashovchi shartnoma buyicha oluvchi deb atalib
            o'zaro
            muzokaradan keyin quyidagi shartnomani tuzdilar:</p>

        <h2 class="Mulk">shartnomaning mavzusi predmeti va qiymati</h2>
        <ul>
            <li>sotuvchi Urganch tuman xokimining 30.10.2018-yildagi 2716k-sonli karoriga asosan Urganch shaxar Fayozov
                kuchasi hududida ko'p qavatli, qo'p xonadonli turar joy, 1-qavati savdo va maishiy xizmat qo'rsatish
                shaxobchasidan iborat bino qurib, uni kelishilgan narxlarda fuqarolarga yoki yuridik shaxslarga sotadi.
            </li>
            <li>oluvchi yuqorida kursatilgan manzildagi turar joydan xonadon sotib olish uchun oldindan kelishilgan
                mikdordagi mablagni tulash majburiyatini oladi.</li>
            <li>tomonlar Urganch shaxar jannatmakon kuchasi 10-yulak 67-uyda joylashgan 1-kavati maishiy xizmat
                kursatish
                shaxobchasidan iborat, kup kavatli qo'p xanodonli turar-joy binosining 1-podezd, 1-kavatida joylashgan 1
                xonalik umumiy maydoni 39,78 m2 bulgan, № 30-xonadonni oldi-sotdisi buyicha (asosiy shartnomada)
                sotuvchi
                sotadi, oluvchi xaridor xisoblanadi.</li>
            <li>xonadonning 1 m2 ning narxi ____________ sum. Tomonlarning kelishuviga muvofik xonadonning umumiy narxi
                315 000 000 (uch yuz un besh million) so'm. </li>
            <li>binoning kadastr xujjatlari tayyor bulgandan keyin ushbu shartnomaning 1.3-bandida kursatilgan
                maydondan,
                kadastr xujjatidagi maydon bilan solishtirganda ma'lum m2 fark paydo bulgan takdirda, ya'ni katta yoki
                kichik bulgan takdirda shartnomaning 1.4-bandida kursatilgan 1 m2 uchun yozilgan narx buyicha urtadagi
                fark
                kupaytirib yoki kamaytirib kayta xisob-kitob kilinadi. </li>
            <li>bajariladigan ishlar yuzasidan kurilish materiallari, bajarilgan ishlar belgilanganidan oshib ketsa yoki
                narx
                navo o'zgarsa, uyning bahosi ham mos ravishda o'zgaradi.</li>
            <li>oluvchi xonadon narxini 100 % oldindan to'lasa, xonadonning narxi o'zgarmay koladi. </li>
        </ul>
        <h2 class="Mulk">2.Sotuvchining majburiyatlari</h2>
        <p>2.1. Shartnomaga muvofik barcha ishlarni o'z muddatida o'zini kuchlari yoki jalb kilingan kuchlar bilan turar
            joyni
            shartnoma shartlariga muvofik o'z vaqtida topshirish majburiyatini o'z zimmasiga oladi.
            2.2. Sotuvchi kuyidagi kurilish ishlarini bajarish majburiyatini oladi:
            -Poydevor ishlari (fundament) -100%
            -Devorlar va o'rta oralik devorlarni gisht terish ishlari -100%
            -Butun temir beton, beton, armatura ishlari -100%
            -Tom bostirma ishlari -100%
            -PVX deraza o'rnatish ishlari -100%
            -Polni tsement styajka ishlari -100%
            -Xonadonga kirish tashki eshiklar, podezdga kirish eshiklari -100%
            -Zinapoya maydonchasi ishlari -100%
            -Elektromontaj ishlari, gaz, sovuq suv, kanalizasiya, kvartiragacha kiritiladi.
            -Fasad ishlari -100%
            -kolgan ishlarni oluvchi uz mablagi xisobidan bajaradi (isitish tizimi, ichki elektro montaj ishlari,pardoz
            ishlari, ichki deraza va eshiklar, Pol, unitaz, umivalnik, vanna santexnika ishlari ).
            2.3. Turar joy 2023 yilning 31 dekabr kuniga kadar qurib bitkaziladi.</p>
    </div>

    <div class='contract'>
        <h2 class="Mulk">oluvchining majburiyatlari</h2>
        <ul>
            <li>oluvchi shartnoma imzolangandan keyin 5 ish kuni mobaynida xonadonning umumiy kiymatidan 0% miqdorini
                zakalat sifatida oldindan to'laydi. </li>
            <li>oluvchi zakalat puli tulangandan keyin kolgan xonadon xakini ___ oy mobaynida grafik asosida Uzbekiston
                Respublikasi milliy valyutasida naqd pul to'lash, pul o'tkazish, plastik kartochka va ipoteka krediti
                orkali
                amalga oshiradi.</li>
            <li>"sotuvchi"ga "oluvchi" kurilish davomida xalakit bermaydi va kurilish ishlariga aralashmaydi.</li>
        </ul>
        <h2 class="Mulk">4.Ishlarni bajarish</h2>
        <ul>
            <li>sotuvchi ishlarni bajarish loyixasiga va mazkur shartnomaga muvofiklashtirilgan uz rejasi va jadvaliga
                binoan
                ob'ektda ishlarini bajarishni mustakil ravishda tashkil kiladi.</li>
            <li>sotuvchi ob'ektda ishlarni olib borish tartibini Davlat arxitektura kurilish nazorati organlari bilan va
                unga rioya etilishi uchun konun xujjatlarida belgilangan tartibda javob beradi.</li>
            <li>bilan va unga rioya etilishi uchun konun xujjatlarida belgilangan tartibda javob beradi.</li>
        </ul>
        <h2 class="Mulk">ishlarni kuriklash</h2>
        <ul>
            <li>tiklangan binolar va imoratlar shuningdek materiallar asbob uskunalar, ob'ekt kabul kilib olingandan
                keyin saklanishi uchun oluvchi javob beradi.</li>
        </ul>
        <h2 class="Mulk">6.Engib bulmaydigan kuch (fors-major) xolatlari</h2>
        <ul>
            <li>shartnoma buyicha majburiyatlar kisman yoki tulik bajarilmasligi tabiat xodisalari va boshka engib
                bulmaydigan kuch xolatlari natijasida kelib chiksa va agar bu xolatlar shartnomaning bajarilishiga
                bevosita
                ta'sir etsa tomonlar javobgarlikdan ozod etiladilar.
            </li>
        </ul>
        <h2 class="Mulk">7.Kafolatlar</h2>
        <ul>
            <li>sotuvchi uzi tomonidan kurilish uchun kullaniladigan kurilish materiallari, asbob uskunalari va
                butlovchi
                buyumlar konstruktsiya va tizim sifatini, ularning loyixa xujjatlarida kursatilgan sertifikatsiyalarga
                Davlat standartlariga xamda texnik shartlarga muvofikligini kafolatlaydi.
                7.2. Ishlarni kabul kilish va ob'ektdan foydalanishning kafolatli davrida aniklangan kamchiliklar va
                nuksonlarni uz vaktida bartaraf kilishni kafolatlaydi.
                Nuksonlar ular aniklangan takdirda bartaraf etish muddatlari sotuvchi va oluvchining ikki tomonlama
                dalolatnomasida kayd etiladi.</li>
        </ul>
    </div>


    <div class="contract">

        <h2 class="Mulk">8.Kurilishi tugallangan ob'ektni kabul kilib olish</h2>
        <ul>
            <li>sotuvchi uy joyni Davlat kabul komissiyasi tomonidan rasmiylashtirilgandan keyin asosiy oldi-sotdi
                shartnomasini tuzish xakida oluvchini yozma ravishda xabardor kiladi.</li>
            <li>oluvchi olgan xabarnomaga asosan oldi-sotdi shartnomasi buyicha ___ oy muddatda, garafik asosida xonadon
                xakini 100% (bir yuz foiz) tulagan bulishi kerak.</li>
        </ul>
        <h2 class="Mulk">9.Tomonlarning mulkiy javobgarligi</h2>
        <ul>
            <li>tomonlardan biri shartnoma majburiyatlarini bajarmagan yoki zarur darajada bajarmagan takdirda aybdor
                tomon
                ikkinchi tomonga etkazilgan zararlarni koplaydi</li>
            <li>oluvchining aybi bilan asosiy shartnoma tuzilmasa, oldindan tulangan summa ushbu xonadon sotilgandan
                keyin
                kaytariladi.</li>
            <li>sotuvchini aybi bilan oldi-sotdi shartnomasi tuzilmasa 60 kun mobaynida xonadon uchun tulangan tulov
                Oluvchiga kaytariladi.</li>
            <li>mazkur shartnomaga tegishli ilovalarda kursatilgan uz majburiyatlariga rioya kilmaganligi uz vaktida
                moliyalashtirilmaganligi va shartnomada belgilangan boshka majburiyatlarni buzganligi uchun oluvchi
                sotuvchiga
                kechiktirilgan xar bir kun uchun majburiyatlarni bajarilmagan kismining 0.4% mikdorida penya tulaydi.
                Bunda
                penyani umumiy summasi bajarilmagan ishlar yoki kursatilmagan xizmatlar kiymatini 50%( ellik foiz)idan
                oshmasligi lozim.</li>
            <li>shartnomaga muvofik kerakli xujjatlarni tasdiklashdan asossiz ravishda bosh tortganligi uchun oluvchi
                Sotuvchiga uzi tasdiklashni rad etgan yoki bosh tortgan summani 0,4% mikdorida jarima to'laydi.
                (isbotlangan
                taqdirda)
                Oluvchi tomonidan topilgan nuksonlar va kamchiliklar uz vaktida bartaraf etilmaganligi uchun sotuvchi
                sifatsiz bajarilgan ishlarni uz xisobidan bartaraf qilishi kerak.</li>
        </ul>
        <h2 class="Mulk">shartnomani bekor kilish</h2>
        <ul>
            <li>oluvchi tomonidan shartnomada kursatilgan muddatlarda moliyalashtirish shartlari uz vaktida amalga
                oshirilmasa
                Sotuvchi tomonidan shartnoma bekor kilinadi.</li>
            <li>sotuvchi tomonidan kurilish me'yorlari va koidalarida nazarda tutilgan ishlarning sifati pasayishiga
                olib
                keladigan darajada buzilganda shartnomani bekor kilish mumkin.</li>
            <li>shartnomani bekor kilishga karor kilgan tomon ikkinchi tomonga yozma bildirishnoma yuboradi.</li>
            <li>shartnomani bekor kilingan takdirda aybdor tomon ikkinchi tomonga etkazilgan zararni shu jumladan boy
                berilgan foydani tulaydi./li>
            <li></li>
            <h2 class="Mulk">nizolarni xal kilish</h2>
            <p>11.1 shartnomani bajarishda va bekor kilishda shuningdek etkazilgan zararni koplashda paydo buladigan
                nizoli
                masalalarni tomonlar uzaro kelishuv asosida xal etolmasa "Urganch konsalting va mediasiya" jamiyati
                xuzuridagi xakamlik sudi, fukarolik sudi va xujalik sudlari tomonidan kurib chikiladi.</p>

    </div>


    <div class="contract">
        <h2 class="Mulk">12. Aloxida shartlar</h2>
        <ul>
            <li>Uzbekiston Respublikasi fukarolik kodeksining 311,312-moddalariga asosan oluvchi ning oldindan tulagan
                zakalat puli kelgusida shartnomada kursatilgan majburiyatlarni bajarishni uz zimmasiga olgan deb
                tushuniladi.</li>
            <li>oluvchiga xonadon xakini tulik xisoblashgandan keyin mulk xukuki utadi. Davlat ruyxatidan shuningdek
                oldi-sotdi shartnomasi buyicha barcha tulovlar oluvchi tomonidan amalga oshiriladi.</li>
            <li>oluvchi tomonidan mazkur shartnomaning 9-bulim 9.2 punktida kursatilgan majburiyatlar bajarilmagan
                takdirda
                tulangan summaning 5% sotuvchi ning zararini koplash uchun ushlab kolinadi.</li>
        </ul>
        </ul>
        <h2 class="Mulk">shartnomani yakuniy bulimi</h2>
        <ul>
            <li>ushbu shartnoma imzolangandan keyin kuchga kiradi va tomonlar uz xukuk majburiyatlarini tulik bajargunga
                kadar amal kiladi.
                Shartnoma ikki nusxada tuzildi va bir xil yuridik kuchga ega.</li>
        </ul>
        <div class="container1">
            <h2 class="section-title1">14.Tomonlarning manzilli va rekvizitlari</h2>
            <div class="details1">
                <div class="left-column1">
                    <p class="mull"><strong>sotuvchi:</strong></p>
                    <p class="mull">"XORAZM ELITE HOUSE" MCHJ</p>
                    <p class="mull">Xudoybergan kizi</p>
                    <p class="mull"><strong>manzil:</strong> Urganch sh. Firdavsi KCh. 4-PR 116-uy</p>
                    <p class="mull">Xonka tuman uy</p>
                    <p class="mull"><strong>bank:</strong> "Hamkorbank" Urganch filiali</p>
                    <p class="mull">15.06.2023 yil</p>
                    <p class="mull"><strong>H/R:</strong> 2020 8000 6005 5246 7001 yil</p>
                    <p class="mull"><strong>MFO:</strong> 00803</p>
                    <p class="mull"><strong>INN:</strong> 306747710</p>
                    <p class="mull">432-62-22; (99895) 252-49-49;</p>
                    <p class="mull">telefonlar:</p>
                    <p class="mull">(99897) 525-66-66; (99897) 459-00-00;</p>
                    <p class="mull">(99891) 431-07-70; (99899) 014-84-88;</p>
                    <p class="signature1">
                        <strong>rahbar:</strong> ___________ Gapirov Z.B
                    </p>
                    <p class="signature1">
                        <strong>M.U.:</strong> ___________ (mo'r)
                    </p>
                </div>
                <div class="right-column1">
                    <p class="mull"><strong>oluvchi:</strong></p>
                    <p class="mull">F.I.Sh: {{ user.fish }}</p>
                    <p class="mull"><strong>manzil:</strong> Xorazm vil.</p>
                    <p class="mull"><strong>pasport seriya:</strong> AD 111111</p>
                    <p class="mull"><strong>berilgan vakti:</strong> 15.06.2023</p>
                    <p class="mull"><strong>berilgan joyi:</strong> Pu 33223</p>
                    <p class="mull"><strong>telefonlar:</strong> ({{user.telefon}})</p>
                    <p class="signature1">
                        <strong>___________</strong> (imzo)
                    </p>
                </div>
            </div>
            <p class="footer-note1">shartnoma shartlari bilan tanishdim</p>
        </div>
    </div>
</body>
<style>
    body {
        line-height: 1.4;
        margin: 0;
        padding: 0;
        background-color: #f9f9f9;
    }

    .contract {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .contract h1,
    .contract h2,
    .contract p {
        margin: 0 0 15px;
    }

    .Mulk,
    p {
        text-align: center;
    }

    .contract h1 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 5px;
    }

    .contract h2 {
        font-size: 20px;
        margin-top: 20px;
    }

    .contract .signatures {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }

    .contract .signatures .party {
        text-align: left;
    }

    .contract .signatures .party p {
        margin: 5px 0;
    }

    ul {
        align-items: center;
    }






    .perty {
        text-align: right;
        margin-top: 5px;
    }

    .section {
        margin: 50px 0;
    }

    .info {
        margin-bottom: 10px;
    }

    .info span {
        font-weight: bold;
    }

    .signatures {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }

    .signatures div {
        text-align: center;
    }









    .mull {
        font-family: Arial, Helvetica, sans-serif;
        margin: 20px;
        line-height: 0.8;
    }

    .container1 {
        max-width: 800px;
        margin: 0 auto;
    }

    .section-title1 {
        text-align: center;
        font-weight: bold;
    }

    .details1 {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .left-column1,
    .right-column1 {
        width: 45%;
    }

    .signature1 {
        margin-top: 20px;
    }

    .footer-note1 {
        text-align: center;
        margin-top: 50px;
        font-style: italic;
    }
</style>

</html>